/* Styles********
---------
COLORS
blue #408da7
light-blue #92dfe5

Background Dark #524649
Background Light #EAEAEA
Background White # F9F9FA

Header COLORS
Purple #B2A1B1
White #FFFFFF

Save button
Background #6E646B
Color #FFFFFF
- Disabled
Background #C2C1C0
Color #FFFFFF
- on hover
Background #524649
Color #FFFFFF

Card
Title Color #6E646B
Border #D2CCCD
Background #FFFFFF
Copy #7C7879
Quality #7C7879

---------
FONTS
font-family: 'Open Sans', sans-serif;
---------
*****************/

/* START Global Styles */
*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background:#f8f9fa;
}

h1, h2, h3, h4, p, span, ul, li {
  font-family: 'Open Sans', sans-serif;
}

a, button, img {
  transition:all .5s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

li {
  list-style-type: none;
}

fieldset {
  border: none;
}

label {
  color: #7C7879;
  display: block;
}

h2 {
  color:#6E646B;
  margin: 0;
  padding-bottom: .3em;
}

h4 {
  color:#7C7879;
  margin:0;
}

p {
  color: #7C7879;
  margin: 0;
  line-height: 1.4;
  font-size: 1.1em;
}

button {
  background: none;
  border:none;
}

button.disable-btn {
  pointer-events: none;
  opacity: .6;
}

img {
  width:100%;
}

.section-wrapper {
  width: 100%;
  max-width: 580px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.5em;
}

footer {
  margin: 1em 0;
}

.showContent {
  overflow: hidden;
}

/* END Global Styles */

/* START Nav Bar */

.header--container {
  background: #524649;
}

.nav--conatiner {
  display: flex;
  align-items: center;
  max-width: 1400px;
  width: 100%;
  margin: auto;
  padding: 0 2em;
}
.aside--nav_bar {
  width:50%;
}

.h1--main_title {
  color: #B2A1B1;
  font-size: 2.5em;
  line-height: 1;
  margin: 0.4em 0;
}

.h1--main_title span {
  color:#fff;
}

.search-bar {
  width: 100%;
  position: relative;
  margin-left: auto;
  max-width: 250px;
  padding: 0;
  border: none;
}

.searchTerm {
  border: 2px solid #afa6aa;
  padding: 5px;
  border-radius: 2px;
  outline: none;
  color: #93868b;
  width: 100%;
  position: relative;
  right: 30px;
}

.searchTerm:focus{
  color: #93868b;
}

.searchButton {
  width: 34px;
  height: 32px;
  background: #afa6aa;
  text-align: center;
  color: #fff;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  cursor: pointer;
  font-size: 20px;
  outline: none;
  position: absolute;
  right: 0;
  top: 0px;
  border: none;
}

.searchButton:hover {
  background: #B2A1B1;
}

.submit-btn:hover, .filter-btn:hover {
  background-color: #524649;
  pointer:cursor;
}

.searchButton .fa-search {
  outline: none;
}

/* END Nav Bar */


/* START Form Area */

.main--input_forms {
  background-color: #EAEAEA;
}

.center-margins {
  margin-left: auto;
  margin-right: auto;
}

.fieldset--container {
  width:100%;
  padding: 0;
  margin-bottom: 1.5em;
}

.inputs {
  display: block;
  width: 100%;
}

.title-input {
  height: 33px;
}

.body-input {
  height: 80px;
  border-radius: 3px;
  border: #cccccc solid 1px;
}

.label-spacing {
  margin-bottom: .4em;
  font-size: 1.2em;
}

.submit-btn {
  background-color: #6E646B;
  color: #FFFFFF;
  font-weight: bolder;
  height: 43px;
  width: 100%;
  margin-bottom: 23px;
  font-size: 1.3em;
  border-radius: 5px;
}

.show-cards {
  background-color: #fff;
  color: #6E646B;
  border: #6E646B solid 3px;
  font-size: 1em;
  border-radius: 5px;
  padding: .4em 1.5em;
  margin: 0 auto;
  display: block;
  font-weight: bold;
}

.clear-localStorage {
  background-color: #6E646B;
  color: #FFFFFF;
  font-weight: bolder;
  height: 43px;
  width: 25%;
  margin-bottom: 23px;
  font-size: 1.3em;
  border-radius: 5px;
}

.fieldset--button_filters {
  display: block;
  width:100%;
  padding: 0;
}

.filter-btn {
  flex: 1;
  background-color: #6E646B;
  color: #FFFFFF;
  font-weight: bolder;
  height: 43px;
  width: 32.8%;
  margin-bottom: 23px;
  font-size: 1.3em;
  border-radius: 5px;
}

/* END Form Area */


/* START Idea Feed */

.main--idea_feed {
  background:#f8f9fa;
}

.article--ideabox_card {
  border-radius: 5px;
  border:#d1cbcd solid 2px;
  margin-bottom: 25px;
  width: 100%;
}

.div--card_top {
  padding: 1em;
}

.div--card_bottom {
  display: flex;
  align-items: center;
  border-top:#d1cbcd solid 2px;
  padding: 10px;
  height: 50px;
}

.h4--quality_control {
  flex: 15;
  margin-left: 8px;
}

.button--card {
  background: none;
  border: none;
  width: 40px;
  line-height: 1;
  font-size: 0;
  flex:1;
  opacity: 1;
}

.button--card img:hover {
  opacity: .6;
}

/* END Idea Feed */


/* START Media Queries */
@media screen and (max-width: 680px) {

  /* Nav Bar */
  .nav--conatiner {
    display: block;
    padding: 1.2em;
  }

  .aside--nav_bar {
    width:100%;
    text-align: center;
    padding-bottom: 1.2em;
  }

  .aside--nav_bar:last-child {
    padding-bottom: 0em;
  }

  .h1--main_title {
    margin:0;
  }

  .search-bar {
    margin: auto;
    max-width: 265px;
    right: 15px;
  }

  .searchTerm {
    right:0px;
  }

  .searchButton {
    right: -32px;
  }

  /* From Section */
  .section-wrapper {
    padding: 1.5em
  }

  .filter-btn {
    height: 35px;
    width: 100%;
    font-size: 1em;
  }

}
@media screen and (max-width: 340px) {

  /* Nav Bar */
  .h1--main_title {
    font-size:2em;
  }

  .search-bar {
    max-width: 206px;
  }
  
}
/* END Media Queries */
