/* Styles********
---------
COLORS
blue #408da7
light-blue #92dfe5

Background Dark #524649
Background Light #EAEAEA
Background White # F9F9FA

Header COLORS
Purple #B2A1B1
White #FFFFFF

Save button
Background #6E646B
Color #FFFFFF
- Disabled
Background #C2C1C0
Color #FFFFFF
- on hover
Background #524649
Color #FFFFFF

Card
Title Color #6E646B
Border #D2CCCD
Background #FFFFFF
Copy #7C7879
Quality #7C7879


---------
FONTS
font-family: 'Open Sans', sans-serif;
---------
*****************/

/* START Global Styles */
*,
*:after,
*:before {
  box-sizing: border-box;
}
html {

}

body {
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, p, span, ul, li {
  font-family: 'Open Sans', sans-serif;
}
a, button {
  transition:all .5s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}
li {
  list-style-type: none;
}

/* END Global Styles */

/* START Nav Bar */
.header--container {
  background: #524649;
}

.nav--conatiner {
  display: flex;
  align-items: center;
  max-width: 1400px;
  width: 100%;
  margin: auto;
  padding: 0 2em;
}
.aside--nav_bar {
  width:50%;
}

.h1--main_title {
  color: #B2A1B1;
  font-size: 2.5em;
  line-height: 1;
  margin: 0.4em 0;
}

.h1--main_title span {
  color:#fff;
}

.search-bar {
  width: 100%;
  position: relative;
  margin-left: auto;
  max-width: 250px;
  padding: 0;
  border: none;
}

.searchTerm {
  border: 2px solid #afa6aa;
  padding: 5px;
  border-radius: 2px;
  outline: none;
  color: #93868b;
  width: 100%;
  position: relative;
  right: 30px;
}

.searchTerm:focus{
  color: #93868b;
}

.searchButton {
  width: 34px;
  height: 32px;
  background: #afa6aa;
  text-align: center;
  color: #fff;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  cursor: pointer;
  font-size: 20px;
  outline: none;
  position: absolute;
  right: 0;
  top: 0px;
  border: none;
}

.searchButton:hover {
  background: #B2A1B1;
}

.searchButton .fa-search {
  outline: none;
}



/* END Nav Bar */











/* START Media Queries */
@media screen and (max-width: 680px) {
  /* Nav Bar */
  .nav--conatiner {
    display: block;
    padding: 1.2em;
  }
  .aside--nav_bar {
    width:100%;
    text-align: center;
    padding-bottom: 1.2em;
  }
  .aside--nav_bar:last-child {
    padding-bottom: 0em;
  }
  .h1--main_title {
    margin:0;
  }
  .search-bar {
    margin: auto;
    max-width: 265px;
    right: 15px;
  }
  .searchTerm {
    right:0px;
  }
  .searchButton {
    right: -32px;
  }



}
/* END Media Queries */
