/* Styles********
---------
COLORS
blue #408da7
light-blue #92dfe5

Background Dark #524649
Background Light #EAEAEA
Background White # F9F9FA

Header COLORS
Purple #B2A1B1
White #FFFFFF

Save button
Background #6E646B
Color #FFFFFF
- Disabled
Background #C2C1C0
Color #FFFFFF
- on hover
Background #524649
Color #FFFFFF

Card
Title Color #6E646B
Border #D2CCCD
Background #FFFFFF
Copy #7C7879
Quality #7C7879


---------
FONTS
font-family: 'Open Sans', sans-serif;
---------
*****************/

/* START Global Styles */
*,
*:after,
*:before {
  box-sizing: border-box;
}
html {

}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #EAEAEA;
}

h1, h2, h3, h4, p, span, ul, li {
  font-family: 'Open Sans', sans-serif;
}

a, button {
  transition:all .5s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

li {
  list-style-type: none;
}

fieldset {
  border: none;
}

/* END Global Styles */

/* START Nav Bar */
.header--container {
  background: #524649;
}

.nav--conatiner {
  display: flex;
  align-items: center;
  max-width: 1400px;
  width: 100%;
  margin: auto;
  padding: 0 2em;
}
.aside--nav_bar {
  width:50%;
}

.h1--main_title {
  color: #B2A1B1;
  font-size: 2.5em;
  line-height: 1;
  margin: 0.4em 0;
}

.h1--main_title span {
  color:#fff;
}

.search-bar {
  width: 100%;
  position: relative;
  margin-left: auto;
  max-width: 250px;
  padding: 0;
  border: none;
}

.searchTerm {
  border: 2px solid #afa6aa;
  padding: 5px;
  border-radius: 2px;
  outline: none;
  color: #93868b;
  width: 100%;
  position: relative;
  right: 30px;
}

.searchTerm:focus{
  color: #93868b;
}

.searchButton {
  width: 34px;
  height: 32px;
  background: #afa6aa;
  text-align: center;
  color: #fff;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  cursor: pointer;
  font-size: 20px;
  outline: none;
  position: absolute;
  right: 0;
  top: 0px;
  border: none;
}

.searchButton:hover {
  background: #B2A1B1;
}

.submit-btn:hoover {
  background-color: #524649;
}

.searchButton .fa-search {
  outline: none;
}

/* END Nav Bar */




/* START Form Area */

.center-margins {
  margin-left: auto;
  margin-right: auto;
}

.input-forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.5em;
  width: 100%;
  max-width: 580px;
  margin: auto;
}

.fieldset--container {
  width:100%;
  padding: 0;
  margin-bottom: 1.5em;
}

.inputs {
  display: block;
  width: 100%;
}

.title-input {
  height: 33px;
}

.body-input {
  height: 80px;
  border-radius: 3px;
  border: #cccccc solid 1px;
}

label {
  color: #7C7879;
  display: block;
}

.label-spacing {
  margin-bottom: .4em;
  font-size: 1.2em;
}

.submit-btn {
  background-color: #6E646B;
  background-color: #6E646B;
  color: #FFFFFF;
  font-weight: bolder;
  height: 43px;
  width: 100%;
  margin-bottom: 23px;
  font-size: 1.3em;
  border-radius: 5px;
}

/* END Form Area */


/* START Idea Feed */








/* END Idea Feed */



/* START Media Queries */
@media screen and (max-width: 680px) {
  /* Nav Bar */
  .nav--conatiner {
    display: block;
    padding: 1.2em;
  }
  .aside--nav_bar {
    width:100%;
    text-align: center;
    padding-bottom: 1.2em;
  }
  .aside--nav_bar:last-child {
    padding-bottom: 0em;
  }
  .h1--main_title {
    margin:0;
  }
  .search-bar {
    margin: auto;
    max-width: 265px;
    right: 15px;
  }
  .searchTerm {
    right:0px;
  }
  .searchButton {
    right: -32px;
  }
}
@media screen and (max-width: 340px) {
  /* Nav Bar */
  .h1--main_title {
    font-size:2em;
  }
  .search-bar {
    max-width: 206px;
  }
}
/* END Media Queries */
